.lemon-container {
  background-color: #495e57;
  min-height: 600px;
  padding: 60px;
}
.little-lemon {
  display: flex;
  justify-content: space-between;
/*   max-width: 50rem; */
  width: 100%;
  margin: auto;
}
.lemon {
  max-width: 350px;
  margin: 0;
}
.lemon > h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-family: "Markazi Text";
  color: #f4ce14;
}
.lemon > h2 {
  margin: 0;
  font-size: 2rem;
  font-family: "Markazi Text";
  margin-bottom: 1rem;
  color: #fff;
}
.lemon > p {
  font-size: 1rem;
  font-family: "Karla";
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
}
.rest-images {
  margin: 0;
  margin-top: 1rem;
  position: relative;
}
.mario {
  position: relative;
  z-index: 0;
  top: 0;
  right: 0;
}
.rest1 {
  position: absolute;
  z-index: 1;
  top: 6rem;
  right: 160px;
}

@media (max-width: 930px) {
  .little-lemon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 830px;
    width: 100%;
    margin: auto;
  }
  .mario {
    display: none;
  }
  .rest1 {
    position: static;
  }
}
