.reservations {
  min-height: 38rem;
  background-color: #495e57;
  padding-top: 1rem;
}
.reservations-container {
  max-width: 50rem;
  margin: auto;
}
.reservations-container h1 {
  margin: 0;
  font-size: 2.5rem;
  font-family: 'Markazi Text';
  margin-bottom: 1rem;
  color: #f4ce14;
}
.reservations-container h2 {
  font-size: 1.5rem;
  font-family: 'Karla';
  margin-bottom: 1.5rem;
  color: #fff;
}
.inputs-container1 > label,
input {
  display: block;
}
label {
  color: #fff;
}

input {
  margin: 5px 0;
  padding: 0.5rem;
  font-family: 'Karla';
  border-radius: 0.5rem;
  font-size: 1rem;
}
.inputs-container1 {
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.reservations-party {
  width: 50px;
}
.reservations-time {
  width: 80px;
  margin: 5px 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.inputs-container2 > label,
select {
  display: block;
}
.email {
  width: 18.75rem;

}

.select-occasion,
.select-seating {
  width: 10.1rem;
  height: 2.5rem;
  margin: 5px 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.inputs-container2 {
  margin: 0;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.form-btn {
  margin: 0;
  background-color: #f4ce14;
  min-height: 3rem;
  min-width: 10rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.form-btn:hover {
  background-color: #bc9d03;
  color: #fff;
  border: solid #fff 2px;
}
.form-footer {
  display: flex;
  justify-content: flex-start;
  max-width: 80rem;
  gap: 0.5rem;
}
.reservation-summary {
  margin: 0;
  color: #fff;
  font-family: 'Karla';
  font-size: 1rem;

  margin-bottom: 2.4rem;
}

.contact-name-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 45px);
  max-width: 24rem;
}
.policy-input-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.policy-checkbox {
  margin: 0;
  width: 26px;
  height: 36;
}
.special-request-label {
  margin-bottom: 0.5rem;
}
.contact-name-container,
.email-container,
.phone-number-container,
.textarea-container,
.policy-input-container {
  margin-bottom: 1rem;
}

.form-body {
  min-height: 27rem;
  padding-right: 1rem;
}

.confirmation-container {
  font-size: 1rem;
  font-family: 'Karla';
  color: #fff;
}
span {
  font-size: 12px;
  padding: 3px;
  color: red;
  max-width: 12rem;
  display: block;
}
.hidden {
  display: none;
}
p {
  font-family: 'Karla';
}

input:invalid[focused='true'] {
  border: 3px solid red;
}

input:invalid[focused='true'] ~ span {
  display: block;
}
#request {
  width: 100%;
}
table {
  //margin-left: .2rem;
  font-family: Karla;
  font-size: 1rem;
  padding: 1rem
}
.headerTable {
  background: #f8f7f7;
  color: #000000;
  width: 7rem;
  text-align: left;
  padding: 0.3rem;
  font-weight: 500;
}
.dataTable {
  background: #fff;
  width: 9.5rem;
  text-align: left;
  padding-left: 2rem;
  text-transform: capitalize;

}

.leftCorner {
  border-radius: 6px 0 0 0;
}
.rightCorner {
  border-radius: 0 6px 0 0;
}
.bottomLeft {
  border-radius: 0 0 0 6px;
}
.bottomRight {
  border-radius: 0 0 6px 0;
}



@media (max-width: 850px) {
  .email-container {
    width: calc(100%-1rem);
  }
  .reservations-container,
  .reservations-container h1,
  .form-footer,
  .contact-name-container,
  .phone-number-container,
  .email-container,
  .policy-input-container,
  .textarea-container {
    margin-left: 1rem;
  }

  .inputs-container1,
  .inputs-container2,
  .contact-name-container {
    flex-wrap: wrap;
  }
}
@media (max-width: 515px) {
  .form-btn {
    background-color: #f4ce14;
    min-height: 3rem;
    min-width: 10rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (max-width: 485px) {
  .contact-name-container,
.email-container,
.phone-number-container,
.textarea-container,
.policy-input-container  {
    width: calc(100%-1rem);
  }
  .email, .firstName, .lastName, .phone {
    width: 90%;
  }
  .reservations {
    min-height: 850px;
  }
}
@media (max-width: 360px) {
 
  .form-footer {
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
}
